{% for entry in ssh_config_entries %}
Host {{entry.host}}
    HostName {{entry.hostname}}
    User {{entry.user}}
    {%- if 'port' in entry %}
    Port {{entry.port}}
    {%- endif %}
    {%- if 'identity_file' in entry %}
    IdentityFile /home/{{ ansible_user_id }}/.ssh/{{entry.identity_file}}
    {%- endif %}
    {%- if 'proxyjump' in entry %}
    ProxyJump {{entry.proxyjump}}
    {%- endif %}
{% endfor %}